.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
}

.button {
    -fx-background-color: ghostwhite;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: springgreen;
    -fx-text-fill: black;
    -fx-border-radius: 5px;
}

.button:pressed {
    -fx-background-color: #6c5ebb;
    -fx-text-fill: azure;
}