.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
}
.button{
    -fx-background-color: ghostwhite;
}

.button:hover {
    -fx-background-color: #6c5ebb;
    -fx-text-fill: azure;
    -fx-border-radius: 7;
}

.button:pressed {
    -fx-background-color: lime;
    -fx-text-fill: #1d1d1d;
}