
/*.check-box .box{*/
/*    -fx-background-color: #ffc400;*/
/*    -fx-shadow-hightlight-color: #ffe657;*/
/*    -fx-outer-boder: #000000;*/
/*    -fx-body-color: #9a9a9a;*/
/*    -fx-background-insets: 0 0 -1  0, 0, 1, 2;*/
/*    -fx-background-radius: 2,2,1,1;*/
/*    -fx-padding: 0.25em;*/
/*}*/

.check-box:focused .box{
    /*-fx-background-color: red;*/
    -fx-background-insets: -1.4,0,1,2;
    -fx-background-radius: 3,4,2,1,1;
}

.check-box:hover .box{
    -fx-color: #6e5dad;
    -fx-hover-base:#7ebcea;
}


.check-box:selected .box {
    /* background color for selected checkbox */
    -fx-background-color: lime;
}

.check-box .box {
    /* background color of unselected checkbox */
    /*-fx-body-color: #ffffff;*/
    -fx-shadow-hightlight-color: #050505;
    -fx-padding: 0.25em;


}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark {
    /* modify mark color */
    -fx-background-color: #0a0a0a;
}