.jfx-text-field {
    -jfx-focus-color: springgreen;
}


.text-field {
    /*-fx-prompt-text-fill: lime;*/
    -fx-text-fill: #000000;
    -fx-font-size: 19px;
    -fx-font-family: 'Comic Sans MS';
}

.text-field .input-line {
    -fx-background-color: green;
}

