.button:hover {
    -fx-background-color: #00C853;
    /*-fx-background-color: mediumseagreen;*/
    -fx-text-fill: whitesmoke;
    -fx-text-alignment: left;
}

.button {
    -fx-background-color: black;
    -fx-text-fill: snow;
}

.pane {

}