.button:hover {
    -fx-background-color: springgreen;
    /*-fx-background-color: mediumseagreen;*/
    -fx-text-fill: black;
    -fx-text-alignment: left;
}

.button {
    /*-fx-background-color: black;*/
    -fx-background-color: linear-gradient(to left top, black, #1f0049);
    -fx-text-fill: snow;
}

.pane {
    -fx-background-color: linear-gradient(to left top, black, #1f0049)
}