.jfx-password-field {
    -fx-font-size: 22px;
    -fx-alignment: center;
    -fx-font-weight: 500;
    -fx-text-fill: black;
    /*-fx-font-family: 'Comic Sans MS';*/
}

.button-raised {
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #00ff00;
    -fx-text-fill: black;
}

.backgroundColor {
    -fx-background-color: linear-gradient(to right bottom, #02a4f5, #35c1fa, #35c1fa, #02a4f5);
    /*-fx-background-color: #2ba3f8;*/
}
