.combo-box .list-cell {
    -fx-text-fill: #0a0a0a;
}

.combo-box .list-cell:selected {
    -fx-background-color: #8800ff;
    /*-fx-background-image: url("backgroundPane.jpg");*/
    -fx-text-fill: whitesmoke;
}

.combo-box .list-cell:hover {
    -fx-background-color: springgreen;
    -fx-text-fill: black;
}

.combo-box .list-cell:disabled {
    -fx-background-color: whitesmoke;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #8800ff;
}