/*.combo-box {*/
/*    -fx-alignment: center;*/
/*    -fx-font-size: 13px;*/
/*    -fx-font-weight: 500;*/
/*    !*-fx-font-family: 'Comic Sans MS';*!*/
/*}*/

.combo-box .list-cell {
    -fx-text-fill: black;
}
.combo-box-popup .list-view{
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell{
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell:filled:selected,
.combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: #8800ff;
    -fx-text-fill: whitesmoke;
}

.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: springgreen;
    -fx-text-fill: black;
}