.background-pane {
    -fx-background-color: linear-gradient(to right top, snow, #1bd8fa, #22ccfa, snow);
}
/*.backgroundColor {*/
/*    -fx-background-color: linear-gradient(to right top, #1bd8fa, #22ccfa, #1bd8fa);*/
/*    !*-fx-background-color: #1bd8fa;*!*/
/*}*/

.root {
    -fx-background-image: url("19.jpg");
    -fx-background-size: 100% 100%;
}

.table-row-cell:selected {
    -fx-background-color: #8800ff;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
