/*.anchor{*/
/*    -fx-background-color: linear-gradient(to right top, #7ed56f,#28b485,#2998ff,#5643fa) ;*/
/*}*/
.backgroundColor {
    -fx-background-color: linear-gradient(to right top, #1bd8fa, #22ccfa, #2cd1fa, #2fcafa, #1bd8fa, #22ccfa, #1bd8fa, #22ccfa);
}

.table-row-cell:selected {
    -fx-background-color: #8800ff;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
