.background-pane {
    -fx-background-color: linear-gradient(to right top, snow, #1bd8fa,lightskyblue,snow);
}
/*.backgroundColor {*/
/*    -fx-background-color: linear-gradient(to right top, #1bd8fa, #22ccfa, #1bd8fa);*/
/*    !*-fx-background-color: #1bd8fa;*!*/
/*}*/

.root {
    -fx-background-image: url("backgroundPane.jpg");
    -fx-background-size: 100% 100%;
}

.rootTemplates {
    -fx-background-image: url("backgroundTemplate.jpg");
    -fx-background-size: 100% 100%;
}

.table-row-cell:selected {
    -fx-background-color: #8800ff;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-text-fill: white;
}
