.text-input:focused {
    -fx-border-color: springgreen;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-input {
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px

}