.jfx-tab-pane .tab-selected-line{
   /* -fx-border-color: #02fa17 ; */
    -fx-border-color: springgreen;
}

.tab {
    -fx-font-family: Times New Roman;
    -fx-font-size: 27;
   /* -fx-background-color: #14d8fa;*/
    -fx-padding: 2 3 2 3;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    /*-fx-background-radius: 3;*/
}

.tab:selected{
    -fx-background-color: #5eff92;
}

.tab-label {
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
}

.tab-header-background{
 /*  -fx-background-color:  #1bd8fa; */
    -fx-background-color: linear-gradient(to right bottom, #1bd8fa, #21c1fa,#2cd1fa,#2fcafa);

}

.tab-pane {
    -fx-tab-min-width:100px;
    -fx-tab-max-width:1750px;
    -fx-tab-min-height:25px;
    -fx-tab-max-height:25px;
}






