.text-input {
    /*-fx-border-color: cornflowerblue;*/
    -fx-border-color: darkgray;
    -fx-border-radius: 3
}


.text-input:focused {
    -fx-border-color: #8800ff;
}
.combo-box:focused{
    -fx-border-color: #8800ff;
}